.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.Header {
  color: #443e3e;
  text-shadow: 1px 1px 5px #fff;
}
button {
  margin: 1vh;

}
ul {
  list-style: none;
  text-align: left;
}
/* write your parent styles in here for your App.js */
